*{
    padding: 0;
    margin: 0;
}
:root{
    --var-size: clamp(2rem,10vh,10rem);
}

body{

    display: flex;
    height: 100vh;
    width: 100vh;
}
main{
    display: flex;
    box-shadow: 11px 14px 7px 2px #888;
}
.right{
    display: flex;
    flex-direction: column;
    padding-top: 14rem;
    background-color: aqua;
    min-width: 750px;
}

.left{

    display: flex;
    position: relative;
    background-image: url('images/nate-rayfield-_WR6tUIAJe8-unsplash.jpg');
    background-size: cover;
    height: 100vh;
      min-width: 650px;
  max-height: 100vh;
}
.back{
    position: absolute;
}
.front{
    display: flex;
    position: absolute;
    background-color: rgba(0,26,37,50%);
    justify-content: center;
    align-self: center;
    width: 100%;
}
span{
    font-size: var(--var-size);
    color: aliceblue;
    text-transform: uppercase;
}
#img-Back{
    height: 100vh;
    max-width: 430px;
    width: 100%;
}
#img-Logo{
    width: 80px;
}
.sec{
    display: flex;
    gap: 45px;
}
label{
    font-size: 12px;
    opacity: 80%;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.group{
    display: flex;
    flex-direction: column;
}


